name: ci pipeline
on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: pushed
        run: echo "pushed ya moalim"
      - name: Checkout
        uses: actions/checkout@v6.0.0
